@model AspProject.Models.Home.SocialLink
@{
    ViewData["Title"] = "Default";
}

            <div class="col-md-7 col-lg-6 d-none d-md-block d-lg-block">
                <div class="social-nav text-right">
                    <ul class="list-unstyled social-list mb-0">
                        <li class="list-inline-item tooltip-hover">
                            <a href="@Model.Facebook" class="rounded"><span class="ti-facebook"></span></a>
                            <div class="tooltip-item">Facebook</div>
                        </li>
                        <li class="list-inline-item tooltip-hover">
                            <a href="@Model.Twitter" class="rounded"><span class="ti-twitter"></span></a>
                            <div class="tooltip-item">Twitter</div>
                        </li>
                        <li class="list-inline-item tooltip-hover">
                            <a href="@Model.Linkedin" class="rounded"><span class="ti-linkedin"></span></a>
                            <div class="tooltip-item">Linkedin</div>
                        </li>
                        <li class="list-inline-item tooltip-hover">
                            <a href="@Model.Dribbble" class="rounded"><span class="ti-dribbble"></span></a>
                            <div class="tooltip-item">Dribbble</div>
                        </li>
                    </ul>
                </div>
            </div>
           

