@model Setting
@{
    ViewData["Title"] = "Default";
}

    <div class="col-md-3">
        <div class="row footer-top-wrap">
            <div class="col-12">
                <div class="footer-nav-wrap text-white">
                    <h4 class="text-white">GET IN TOUCH</h4>
                    <ul class="get-in-touch-list">
                        <li class="d-flex align-items-center py-2"><span class="fas fa-map-marker-alt mr-2"></span>@Model.Address</li>
                        <li class="d-flex align-items-center py-2"><span class="fas fa-envelope mr-2"></span>@Model.Email</li>
                        <li class="d-flex align-items-center py-2"><span class="fas fa-phone-alt mr-2"></span>@Model.Phone</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

