@model BlogDefaultViewModel
@using ReflectionIT.Mvc.Paging;
@addTagHelper *, ReflectionIT.Mvc.Paging;

@{
    ViewData["Title"] = "Index";
}
<partial name="_HeaderSection" model="Model.HeaderViewModel" />
<!--body content wrap start-->
<div class="main">
    <!--blog section start-->
    <section class="our-blog-section ptb-100 gray-light-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-heading mb-5">
                        <h2>Our Latest News</h2>
                        <p class="lead">
                            Enthusiastically drive revolutionary opportunities before emerging leadership. Phosfluorescently cultivate emerging alignments time methods of empowerment.
                        </p>
                    </div>
                </div>
            </div>
            <partial name="_Blog" model="Model.PagingList" />

            <!--pagination start-->
            <div class="row">
                <div class="col-md-12">
                   
                    <nav aria-label="Paging" class="custom-pagination-nav  mt-4 mb-5">
                        <ul class="pagination justify-content-center">
                            @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model.PagingList })
                        </ul>
                            
                    </nav>
                </div>
            </div>
            <!--pagination end-->
        </div>
    </section>




</div>
<!--body content wrap end-->
