
@{
    ViewData["Title"] = "Index";
}

<!--body content wrap start-->
<div class="main">

    <partial name="_HeaderSection" />
    <partial name="_Blog" />


    </div>
<!--body content wrap end-->
