@model List<HomePortfolioItem>
<!--our work or portfolio section start-->
<div class="row">
    <div class="col-md-12">
        <div class="text-center pb-2">
            <button type="button" class="filter-btn" data-mixitup-control data-filter="all">All</button>
            <button type="button" class="filter-btn" data-mixitup-control data-filter=".branding">Branding</button>
            <button type="button" class="filter-btn" data-mixitup-control data-filter=".animation">Animation</button>
            <button type="button" class="filter-btn" data-mixitup-control data-filter=".other">Others</button>
        </div>
        <div class="portfolio-container" id="MixItUp">
            @foreach (var item in Model)
            {
                <div class="mix portfolio-item @item.Category" data-ref="mixitup-target">
                    <div class="portfolio-wrapper">
                        <a href="project-details.html" target="_blank">
                            <div class="content-overlay"></div>
                            <img class="img-fluid" src="~/uploads/portfolio/@item.Photo" alt="portfolio" />
                            <div class="content-details fadeIn-bottom text-white">
                                <h5 class="text-white mb-1">@item.Title</h5>
                                <p>@item.Content</p>
                            </div>
                        </a>
                    </div>
                </div>
            }

            <div class="gap"></div>
            <div class="gap"></div>
            <div class="gap"></div>
        </div>
    </div>
</div>
<!--our work or portfolio section end-->