@model List<HomeServiceItem>
<!--services section start-->
 <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="services-single d-flex p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                    <div class="service-icon mr-4">
                        <span class="@item.Icon icon-md color-secondary"></span>
                    </div>
                    <div class="services-content-wrap">
                        <h5>@item.Title</h5>
                        <p class="mb-0">@item.Content</p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-3">@item.Info<span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        }
    </div>
<!--services section end-->
