
@{
    ViewData["Title"] = "Index";
}

<!--body content wrap start-->
    <div class="main">

        <partial name="_HeaderSection" />
        <!--promo section start-->
        <section class="promo-section pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="single-promo-block p-3 rounded d-flex justify-content-between">
                            <div class="promo-block-icon mr-4">
                                <span class="fas fa-brain icon-md color-primary"></span>
                            </div>
                            <div class="promo-block-content">
                                <h5>Cyber Security</h5>
                                <p>Enthusiastically scale mission-critical imperatives rather than an expanded array.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="single-promo-block p-3 rounded d-flex justify-content-between">
                            <div class="promo-block-icon mr-4">
                                <span class="fas fa-bezier-curve icon-md color-primary"></span>
                            </div>
                            <div class="promo-block-content">
                                <h5>Creative Design</h5>
                                <p>Compellingly promote collaborative products without synergistic schemas. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="single-promo-block p-3 rounded d-flex justify-content-between">
                            <div class="promo-block-icon mr-4">
                                <span class="fas fa-life-ring icon-md color-primary"></span>
                            </div>
                            <div class="promo-block-content">
                                <h5>Cloud Services</h5>
                                <p>Rapidiously create cooperative resources rather than client-based leadership skills.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--promo section end-->
        <!--about us section start-->
        <section class="about-us-section ptb-100">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-12 col-lg-5">
                        <div class="video-promo-content mb-md-4 mb-lg-0">
                            <h2>Our Mission & Vission</h2>
                            <p>
                                Interactively develop timely niche markets before extensive imperatives. Professionally
                                repurpose interoperable growth strategies before effective core competencies.
                            </p>
                            <ul class="list-unstyled tech-feature-list">
                                <li class="py-1">
                                    <span class="ti-check-box mr-2 color-secondary"></span><strong>Cost</strong>
                                    Accounting Fundamentals
                                </li>
                                <li class="py-1">
                                    <span class="ti-check-box mr-2 color-secondary"></span><strong>Corporate</strong>
                                    Cash Management
                                </li>
                                <li class="py-1"><span class="ti-check-box mr-2 color-secondary"></span><strong>Company</strong> Brand Solutions</li>
                            </ul>
                            <div class="row mt-4">
                                <div class="col-4">
                                    <div class="counter-single">
                                        <h4 class="mb-0 color-secondary">4566</h4>
                                        <strong>Total Project</strong>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="counter-single">
                                        <h4 class="mb-0 color-secondary">25002</h4>
                                        <strong>Total Customer</strong>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="counter-single">
                                        <h4 class="mb-0 color-secondary">4566</h4>
                                        <strong>Total Project</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="action-btns mt-4">
                                <a href="#" class="btn primary-solid-btn mr-2">View Our Services</a>
                                <a href="#" class="btn outline-btn">Contact Us</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="card border-0 shadow-sm text-white">
                            <img src="~/assets/img/about-1.jpg" alt="video" class="img-fluid rounded shadow-sm">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--about us section end-->
        <!--our work process section start-->
        <section class="work-process-new ptb-100 gray-light-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-8">
                        <div class="section-heading text-center mb-5">
                            <h2>We Deliver Our Services Few Process</h2>
                            <p class="lead">
                                Distinctively grow go forward manufactured products and optimal networks. Enthusiastically
                                disseminate outsourcing through revolutionary.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="work-process-wrap text-center">
                            <div class="single-work-process">
                                <div class="work-process-icon-wrap secondary-bg rounded-circle">
                                    <i class="ti-vector icon-md text-white"></i>
                                    <span class="process-step primary-bg text-white shadow-sm">1</span>
                                </div>
                                <div class="work-process-content mt-4">
                                    <h5>Generate Ideas</h5>
                                    <p>Compellingly harness reliable methodologies and web services. </p>
                                </div>
                            </div>
                            <div class="single-work-process">
                                <div class="work-process-icon-wrap secondary-bg rounded-circle">
                                    <i class="ti-layout-list-thumb icon-md text-white"></i>
                                    <span class="process-step primary-bg text-white shadow-sm">2</span>
                                </div>
                                <div class="work-process-content mt-4">
                                    <h5>Collect Contents</h5>
                                    <p>Proactively pursue high-quality cooperative applications.  </p>
                                </div>
                            </div>
                            <div class="single-work-process">
                                <div class="work-process-icon-wrap secondary-bg rounded-circle">
                                    <i class="ti-palette icon-md text-white"></i>
                                    <span class="process-step primary-bg text-white shadow-sm">3</span>
                                </div>
                                <div class="work-process-content mt-4">
                                    <h5>Create Design</h5>
                                    <p>Continually exploit worldwide products maximizing alignments. </p>
                                </div>
                            </div>
                            <div class="single-work-process">
                                <div class="work-process-icon-wrap secondary-bg rounded-circle">
                                    <i class="ti-cup icon-md text-white"></i>
                                    <span class="process-step primary-bg text-white shadow-sm">4</span>
                                </div>
                                <div class="work-process-content mt-4">
                                    <h5>Launch Project</h5>
                                    <p>Dramatically exploit strategic innovation market-driven schemas. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--our work process section end-->
        <partial name="_TeamTwo" />
        <partial name="_Testimonial" />
        <partial name="_Client" />

    </div>
<!--body content wrap end-->
